<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Payments
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="btn btn-warning" href="{% url 'show_add_payment' %}">Add Payment</a></li>
      <li><a class="btn btn-warning" href="{% url 'show_payment' %}">Edit payment</a></li>
      <li><a class="btn btn-warning" href="{% url 'show_search_payment' %}">Search Payment</a></li>
    </ul>
  </div>

</div>


<div class="container">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Registation
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="btn btn-warning" href="{% url 'show_add_payment' %}">Customer</a></li>
      <li><a class="btn btn-warning" href="{% url 'show_payment' %}">Employe</a></li>
      <li><a class="btn btn-warning" href="{% url 'show_search_payment' %}">vehicle</a></li>
    </ul>
  </div>

</div>

</body>
</html>
